.swiper-slide {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slide__img {
  display: flex;
  justify-content: center;
  padding-bottom: 29px;
}
.content {
  height: 310px;
  width: min(100%-20px, 400px);
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote {
  position: absolute;
  left: 61px;
  top: 28px;
  width: 54px;
  height: 40px;
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
}

.text-reviews {
  width: 157px;
  height: 239px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.583;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  position: absolute;
  color: #212121;
  padding-top: 43px;
  width: 157px;
  margin-left: 57px;
  margin-right: 66px;

  display: flex;
}

.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.little-dots {
  margin-top: 30px;
  margin-bottom: 18px;
  width: 4px;
  height: 4px;
  margin-right: 10px;
  background-image: url(../images/little-dots.svg);
  justify-content: center;
  display: flex;
}

.active {
  justify-content: center;
  align-items: center;
}
.person {
  font-family: DM Sans;
  font-style: medium;
  font-size: 14px;
  line-height: 1.857;
  text-align: center;
  letter-spacing: 0.04em;
}
.slider__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding-bottom: 86px;
}

.house__icon {
  position: relative;
  display: flex;
  width: 14px;
  height: 13px;
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  justify-content: center;
  color: #c7133e;
  margin-top: 30px;
}
.big__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.previous-right,
.previous-left {
  position: relative;
  display: flex;
  width: 14px;
  height: 13px;
  background-image: url(../images/big-dots.svg);
  background-color: transparent;
  border: none;
  justify-content: center;
  margin-top: 30px;
  gap: 18px;
}


/* ###### mobile #####*/
@media screen and (min-width: 480px) {
}

/* ###### TABLET #####*/
@media screen and (min-width: 768px) {
 
  .quote {
    padding-left: 40px;
    padding-top: 30px;
  }
  .content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 620px;
    position: relative;
    height: 164px;
  }
  .reviews {
    display: flex;
    font-size: 16px;
    line-height: 1.86;
    position: absolute;
    color: #212121;
    justify-content: center;
    align-content: center;
    width: 460px;
    padding-bottom: 39px;
    padding-top: 47px;;
  }
  .little-dots {
    margin-top: 24px;
    margin-bottom: 14px;
  }
}

/* ###### DESKTOP ##### */
@media screen and (min-width: 1200px) {
 
  .content {
    width: 926px;
    height: 138px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
     margin-left: auto;
    margin-right: auto;
  }
  .reviews {
    display: flex;
    position: absolute;
    color: #212121;
    justify-content: center;
    align-content: center;
    width: 750px;
    padding-top: 47px;
    padding-bottom: 39px;
  }
  .little-dots {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .quote{
    padding-top:32px;
    padding-left:50px;
  }
}
