.swiper-slide {
  display: flex;
  overflow: hidden;
}
.slide__img {
  display: flex;
  justify-content: center;
  padding-bottom: 29px;
}
.content {
  width: 280px;
  height: 308px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #fafafa;
  position: relative;
}
.quote{
    position: absolute;
    margin-top: 28px;
    margin-left: 61px;
    width: 54px;
    height:40px;
    background-image: url(../images/quote.svg);
    background-repeat: no-repeat;
}

.text-reviews{
    width: 157px;
    height: 239px;

}
.reviews {
  font-family: DM Sans;
  font-style: 500 medium;
  text-decoration: underline;
  text-decoration-color:  #E1E1E1;
  font-size: 12px;
  line-height: 2.583;
  letter-spacing: 0.04em;
  margin-left: 57px;
  margin-right: 66px;
  text-align: center;
  justify-content: center;
  padding-top: 43px;
  position: absolute;
  color: #212121;
}
.dots{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  
}
.little-dots{
  margin-top: 30px;
  margin-bottom: 18px;
  width: 4px;
  height: 4px;
  margin-right: 10px;
  background-image: url(../images/little-dots.svg);
  justify-content: center;
  display:flex;


}
.person{
    font-family: DM Sans;
    font-style: medium;
    font-size: 14px;
    line-height: 1.857;
    text-align: center;
  
}
.slider__nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.house__icon{
  position: relative;
  display: flex;
  width: 14px;
  height: 13px;
  background-image: url(../images/house.svg);
  background-color: transparent;
  border: none;
  justify-content: center;
  color: #C7133E;
  margin-top: 30px;
  }
.big__dots{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.previous-right,
.previous-left{
  position: relative;
  display: flex;
  width: 14px;
  height: 13px;
  background-image: url(../images/big-dots.svg);
  background-color: transparent;
  border: none;
  justify-content: center;
  margin-top: 30px;
  gap: 18px;
  
}
   /* ###### TABLET #####*/
@media screen and (min-width: 768px) {
  .content{
    width: 620px;
    height: 164px;
    margin-inline: 74px;
  }
  .reviews{
    display: flex;
    text-decoration: underline;
    text-decoration-color:  #E1E1E1;
    font-size: 16px;
    line-height: 1.86;
    margin-left: 74px;
    position: absolute;
    color: #212121;
   }
  .little-dots{
    margin-top: 24px;
    margin-bottom: 14px;
  }
}

    /* ###### DESKTOP ##### */
@media screen and (min-width: 1200px){
  .content{
    width: 926px;
    height: 138px;
    margin-inline: 177px;
  }
  .reviews{
    display: flex;
    text-decoration: underline;
    text-decoration-color:  #E1E1E1;
    margin-left: 74px;
    position: absolute;
    color: #212121;
  }
  .little-dots{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}    

