.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slide__img {
  display: flex;
  justify-content: center;
  padding-bottom: 29px;
}
.content {
  height: 310px;
  width: 280px;
  margin-inline: auto;
  background-color: #fafafa;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote {
  position: absolute;
  left: 60px;
  top: 10px;
  width: 54px;
  height: 40px;
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
}

.text-reviews {
  width: 157px;
  height: 239px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.583;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  position: absolute;
  color: #212121;
}
.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.little-dots {
  margin-top: 30px;
  margin-bottom: 18px;
  width: 4px;
  height: 4px;
  margin-right: 10px;
  background-image: url(../images/little-dots.svg);
  justify-content: center;
  display: flex;
}

.active {
  justify-content: center;
  align-items: center;
}
.person {
  font-family: DM Sans;
  font-style: medium;
  font-size: 14px;
  line-height: 1.857;
  text-align: center;
  letter-spacing: 0.04em;
}
.slider__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding-bottom: 86px;
}

.house__icon {
  position: relative;
  display: flex;
  width: 14px;
  height: 13px;
  background-image: url(../images/house.svg);
  background-color: transparent;
  border: none;
  justify-content: center;
  color: #c7133e;
  margin-top: 30px;
}
.big__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.previous-right,
.previous-left {
  position: relative;
  display: flex;
  width: 14px;
  height: 13px;
  background-image: url(../images/big-dots.svg);
  background-color: transparent;
  border: none;
  justify-content: center;
  margin-top: 30px;
  gap: 18px;
}

.review-mobile {
  display: block;
}

.review-tablet {
  display: none;
}

.review-desktop {
  display: none;
}

/* ###### mobile #####*/
@media screen and (min-width: 480px) {
}

/* ###### TABLET #####*/
@media screen and (min-width: 768px) {
  .review-mobile {
    display: none;
  }
  .review-tablet {
    display: block;
  }
  review-desktop {
    display: none;
  }
  .swiper-slide {
    display: flex;
  }
  .quote {
    left: 30px;
    top: 21px;
  }
  .content {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: center;

    height: 164px;
    width: 620px;
  }
  .reviews {
    display: block;
    font-size: 16px;
    line-height: 1.86;
    position: absolute;
    color: #212121;
  }
  .little-dots {
    margin-top: 24px;
    margin-bottom: 14px;
  }
}

/* ###### DESKTOP ##### */
@media screen and (min-width: 1200px) {
  .review-tablet {
    display: none;
  }
  .review-mobile {
    display: none;
  }
  .review-desktop {
    display: block;
  }
  .swiper-slide {
    display: flex;
  }
  .content {
    width: 926px;
    height: 138px;
    margin-inline: 177px;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .reviews {
    display: block;
    position: absolute;
    color: #212121;
  }
  .little-dots {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
