.customer-reviews {
  padding-bottom: 86px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slides {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slide__img {
  height: 85px;
  width: 85px;
  display: block;
  margin-bottom: 30px;
}
.customer-wrapper {
  width: 100%;
  background-color: #fafafa;
  position: relative;
  text-align: center;
  padding: 50px 50px 20px 50px;
}
.quotes {
  position: absolute;
  left: 2px;
  top: -15px;
}
.customer-content {
  position: relative;
}
.customer-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  position: relative;
  max-width: 750px;
  display: inline-block;
  padding-inline: 28px;

  span {
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      #e1e1e1 31px
    );
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
.dots {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.customer {
  font-family: 'DM Sans', sans-serif;
  font-style: medium;
  font-size: 20px;
  line-height: 37px;
  padding: 20px 0 15px 0;
}

/* ##### NEXT AND PEVIOUS BUTTONS #### */

.prev,
.next {
  position: absolute;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  color: #d41443;
  transition: 0.6s ease;
  width: 40px;
  height: 40px;
  user-select: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: -22px;
  cursor: pointer;
  gap: 18px;
  background-color: #fafafa;
  transition: background-color 0.25s ease-in-out;
  top: 50%;
  transform: translateY(-50%);

  &:focus,
  &:hover {
    background-color: #717171;
  }
}
/* ####### POSITION THE "NEXT BUTTON" TO THE RIGHT ######*/
.next {
  right: 0;
  border-radius: 50%;
}

/* ####### THE DOTS/INDICATORS ####### */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
}

.dot:hover {
  background-color: #717171;
}

.active {
  background-image: url(../images/dotActive.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  border-radius: 0;

  &:hover {
    background-color: transparent;
  }
}
/* ###### FADING ANIMATION ######## */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ###### TABLET #####*/

@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-bottom: 119px;
  }
  .slides {
    .customer-text {
      font-size: 14px;
      line-height: 30px;

      &::after {
        background: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent,
          transparent,
          transparent,
          transparent,
          transparent,
          transparent,
          transparent,
          transparent,
          #e1e1e1 30px
        );
      }
    }
    .quotes {
      top: -15px;
      left: -8px;
    }
  }
}

/* ###### DESKTOP ##### */
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-bottom: 132px;
  }
  .slides {
    .customer-text {
      font-size: 16px;
      line-height: 30px;
    }
  }
}
