* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $darkRed #c2d2e4;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: $darkRed;
}

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
}

body {
  font-family: $font-family-primary;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: $color-black;
  font-family: $font-family-primary;
  font-weight: 400;
}

button {
  cursor: pointer;
}
