<section class="advantages">
    <div class="wrapper">
        <h2 class="is-hidden">advantages</h2>
    <ul class="advantages__list">
        <li class="advatages__element">
            <img class="advantages__element--img" src="./images/advantages/icon1.png" alt="Ikona1">
            <p class="advantages__element--data">721</p>
            <p class="advantages__element--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advatages__element">
            <img class="advantages__element--img" src="./images/advantages/icon2.png" alt="Ikona2">
            <p class="advantages__element--data">16kg</p>
            <p class="advantages__element--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advatages__element">
            <img class="advantages__element--img" src="./images/advantages/icon3.png" alt="Ikona3">
            <p class="advantages__element--data">84</p>
            <p class="advantages__element--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>