<div class="container">
    <ul class="slides">
      <li id="slide1">
          <img src="images/person1.jpg" alt="first-client" />
        </li>
      <li id="slide2">
          <img src="images/person2.jpg" alt="second-client" />
        </li>
      <li id="slide3">
          <img src="images/person3.jpg" 
          alt="third-client"/>
         </li>
    </ul>
  
    <ul class="thumbnails">
      <li>
        <a href="#slide1">
            <img src="images/person1.jpg" />
        </a>
      </li>
      <li>
        <a href="#slide2"><img src="images/person2.jpg" /></a>
      </li>
      <li>
        <a href="#slide3"><img src="images/person3.jpg" /></a>
      </li>
    </ul>
  </div>