<section id="customer-reviews" class="customer-reviews">
  <div class="wrapper">
    <div class="slideshow-container">
      <div class="slides fade">
        <img class="slide__img" src="./images/person1.jpg" alt="person1" />
        <div class="customer-wrapper">
          <div class="customer-content">
            <div class="customer-text">
              <img class="quotes" src="./images/quote.svg" alt="quote" />
              <span>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </span>
            </div>
          </div>
        </div>
        <div class="dots">
          <img src="./images/little-dots.svg" alt="dots" />
          <img src="./images/little-dots.svg" alt="dots" />
          <img src="./images/little-dots.svg" alt="dots" />
        </div>
        <div class="customer">Emily, Los Angeles</div>
      </div>

      <div class="slides fade">
        <img class="slide__img" src="./images/person2.jpg" alt="person2" />
        <div class="customer-wrapper">
          <div class="customer-content">
            <div class="customer-text">
              <img class="quotes" src="./images/quote.svg" alt="quote" />
              <span>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </span>
            </div>
          </div>
        </div>
        <div class="dots">
          <img src="./images/little-dots.svg" alt="dots" />
          <img src="./images/little-dots.svg" alt="dots" />
          <img src="./images/little-dots.svg" alt="dots" />
        </div>
        <div class="customer">Emily, Los Angeles</div>
      </div>

      <div class="slides fade">
        <img class="slide__img" src="./images/person3.jpg" alt="person3" />
        <div class="customer-wrapper">
          <div class="customer-content">
            <div class="customer-text">
              <img class="quotes" src="./images/quote.svg" alt="quote" />
              <span>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </span>
            </div>
          </div>
        </div>
        <div class="dots">
          <img src="./images/little-dots.svg" alt="dots" />
          <img src="./images/little-dots.svg" alt="dots" />
          <img src="./images/little-dots.svg" alt="dots" />
        </div>
        <div class="customer">Emily, Los Angeles</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</section>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  window.plusSlides = function (n) {
    showSlides((slideIndex += n));
  };

  window.currentSlide = function (n) {
    showSlides((slideIndex = n));
  };

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName('slides');
    var dots = document.getElementsByClassName('dot');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'flex';
    dots[slideIndex - 1].className += ' active';
  }
</script>
