<section class="footer">
  <div class="wrapper">
    <div class="footer__title">
      <div class="footer__subtitle1">homemade ice cream made</div>
      <div class="footer__subtitle2">with passion</div>
    </div>
    <div class="footer__links">
      <a class="footer__links-background" target="_blank" href="https://www.github.com">
        <img class="footer__links-icon" src="./images/footer/github.png" alt="github link" />
      </a>
      <a class="footer__links-background" target="_blank" href="https://telegram.org">
        <img class="footer__links-icon" src="./images/footer/telegram.png" alt="telegram link" />
      </a>
      <a class="footer__links-background" target="_blank" href="https://www.facebook.com">
        <img class="footer__links-icon" src="./images/footer/facebook.png" alt="facebook link" />
      </a>
    </div>
    <div class="footer__contact">
      Feel free to contact
      <a class="footer__phone" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
    </div>
    <div class="footer__rights">© 2019 - IceCream. All Rights Reserved.</div>
  </div>
</section>
