<div class="footer">
  <div class="footer__title">
    <div class="footer_subtitle1">homemade ice cream made</div>
    <div class="footer__subtitle2">with passion</div>
  </div>
  <div class="footer__links">
    <a class="footer__links-background" href="#">
      <svg class="footer__links-icon">
        <use class="footer__links-svg" href="#"></use>
      </svg>
    </a>
    <a class="footer__links-background" href="#">
      <svg class="footer__links-icon">
        <use class="footer__links-svg" href="#"></use>
      </svg>
    </a>
    <a class="footer__links-background" href="#">
      <svg class="footer__links-icon">
        <use class="footer__links-svg" href="#"></use>
      </svg>
    </a>
  </div>
  <div class="footer__contact">
    Feel free to contact
    <a class="footer__phone" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
  </div>
  <div class="footer__rights">© 2019 - IceCream. All Rights Reserved.</div>
</div>
