<section class="gallery" id="gallery">
  <div class="wrapper">
        <picture class="gallery__img">
            <source
            srcset="
                images/gallery-img/collage-desktop.jpg    1x,
                images/gallery-img/collage-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            />
            <source
            srcset="
            images/gallery-img/collage-tablet.jpg    1x,
            images/gallery-img/collage-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            />
            <source
            srcset="
            images/gallery-img/collage-mobile.jpg    1x,
            images/gallery-img/collage-mobile@2x.jpg 2x
            "
             media="(min-width: 480px)"
            />
            <img
            class="gallery__img"
            src="/images/gallery-img/collage-mobile.jpg"
            alt="photo-collage"
            />
        </picture>
    </div>  
</section>
