<section class="hero">
  <div class="wrapper hero__content">
    <div class="hero__title">
      <div class="title-content-main">
        <h1 class="hero__title">
          <span class="hero__title--small">ice cream made with</span> passion
        </h1>
        <div class="hero__buttons">
          <button class="hero__btn hero__btn--products" type="button">
            <a href="#products">Products</a>
          </button>
          <button class="hero__btn hero__btn--about" type="button">
            <a href="#about">How it's made?</a>
          </button>
        </div>
      </div>
      <div class="title-content-nrShops hide-for-tablet">
        <div class="nrOfCafes">
          <img src="./images/hero-nr-eclipse.png" alt="hero-nr-eclipse" />
          <span>16</span>
          cafes
        </div>
        <div class="nrOfFoodTrucks">
          <img src="./images/hero-nr-eclipse.png" alt="hero-nr-eclipse" />
          <span>23</span>
          food trucks
        </div>
      </div>
    </div>
    <div class="hero__description hide-for-tablet">
      <div class="hero__description-bioeco">
        <img class="bioeco-milk" src="./images/bioeco.png" alt="bio eco milk" />
        <div class="bioeco-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
          <button class="bioeco-description-btn">
            <picture>
              <source
                srcset="./images/arrow-right-hero-desktop.png 1x"
                media="(min-width: 1200px)"
              />
              <source srcset="./images/arrow-right-hero.png 1x" media="(min-width: 768px)" />
              <source srcset="./images/arrow-right-hero.png 1x" media="(min-width: 480px)" />
              <img src="./images/arrow-right-hero.png" alt="read more button" />
            </picture>
          </button>
        </div>
      </div>
    </div>
    <img class="hero-eclipse" src="./images/hero-ellipse.png" alt="pink big circle" />

    <picture>
      <source srcset="./images/hero-icecream-desktop.png 1x" media="(min-width: 1200px)" />
      <source srcset="./images/hero-icecream-tablet.png 1x" media="(min-width: 768px)" />
      <source srcset="./images/hero-icecream.png" media="(min-width: 480px)" />
      <img class="hero-icecream" src="./images/hero-icecream.png" alt="hero icecream" />
    </picture>
    <picture>
      <source srcset="./images/hero-tasty-desktop.png 1x" media="(min-width: 1200px)" />
      <source srcset="./images/hero-tasty.png 1x" media="(min-width: 768px)" />
      <source srcset="./images/hero-tasty.png 1x" media="(min-width: 480px)" />
      <img
        class="hero-tasty hide-for-mobile"
        src="./images/hero-tasty.png"
        alt="hero soooo tasty lady"
      />
    </picture>
  </div>
</section>
