<section class="hero">
  <div class="wrapper">
    <div class="hero__title">
      <div class="title-content-main">
        <h1><span>ice cream made with</span> passion</h1>
        <button class="hero_btn--products" type="button"><a href="#products">Products</a></button>
        <button class="hero_btn--about" type="button"><a href="#about">How it's made?</a></button>
      </div>
      <div class="title-content-nrShops hide-for-mobile">
        <div class="nrOfCafes">
          <span>16</span>
          cafes
        </div>
        <div class="nrOfFoodTrucks">
          <span>16</span>
          food trucks
        </div>
      </div>
    </div>
    <div class="hero__description hide-for-mobile">
      <div class="hero__description-bioeco">
        <img src="./images/bioeco.png" alt="bio eco milk" />
        <div class="bioeco-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
          <button>
            <img src="./images/arrow-right.png" alt="read more button" />
          </button>
        </div>
      </div>
    </div>
    <img src="./images/hero-ellipse.png" alt="pink big circle" />
    <img src="./images/hero-icecream.png" alt="hero icecream" />
    <img class="hide-for-mobile" src="./images/hero-tasty.png" alt="hero soooo tasty lady" />
  </div>
</section>
