<header id="top" class="header">
  <div class="wrapper header__content">
    <a class="nav__logo" href="index.html">
      <img src="./images/logo.png" alt="icecream-logo" />
    </a>
    <a id="menuHamburger" href="javascript:void(0)" class="hamburger-lines hide-for-desktop">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </a>
    <div class="navigation-desktop hide-for-tablet">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="javascript:void(0)">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="javascript:void(0)">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="javascript:void(0)">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="button--buy hide-for-mobile">
      Buy now
      <img src="./images/arrow-right.png" alt="arrow-right" />
    </button>

    <div class="navigation-mobile is-hidden--menu">
      <nav class="nav">
        <button class="button--buy">
          Buy now
          <img src="./images/arrow-right.png" alt="arrow-right" />
        </button>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="index.html">Home</a>
          </li>
          <li class="nav__item">
            <a id="navAbout" class="nav__link" href="#about">About us</a>
          </li>
          <li class="nav__item">
            <a id="navHow" class="nav__link new" href="#how">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a id="navProducts" class="nav__link new" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a id="navContact" class="nav__link new" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<a href="#top" class="toTop">^</a>
