<section class="products">
  <div class="wrapper">
    <h2 class="secondary-header"><span class="about">100% natural </span>products</h2>
    <ul class="products__list">
      <li class="products__item">
        <img
          class="products__img"
          src="./images/product1-320.jpg"
          alt="ice_cream_picture"
          width="249"
          height="252"
        />
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__btn" type="button">
          <svg class="icon-arrow" width="20" height="20">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <img
          class="products__img"
          src="./images/product2-320.jpg"
          alt="ice_cream_picture"
          width="249"
          height="252"
        />
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__btn" type="button">
          <svg class="icon-arrow" width="20" height="20">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <img
          class="products__img"
          src="./images/product3-320.jpg"
          alt="ice_cream_picture"
          width="249"
          height="252"
        />
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__btn" type="button">
          <svg class="icon-arrow" width="20" height="20">
            <use href=""></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
